.r1{
    margin-left: 100px;
    margin-right: 100px;
}

.r2{
    justify-content: center;
    margin-left: 20%;
    margin-top: 15%;
}
.r3{
    font-style: italic;
}

.r4{
    margin-left: 50px;
}

.ar5{
    margin-top: 70px;
margin-left: 40%;
}
.container2{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
}
.footer-col{
    color: aliceblue;
    justify-content: center;
    margin-left: 35%;
}
.search{
    box-shadow: #24262b;
    width: 400px;
    border-color: black;
    margin-left: 36%;
    color: white;
   
}